/* This is where styles are defined for your page. */
/* One style is provided as example. */
body{ 
    font-family: "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia", serif; 
}

.page-header h1{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

header.page-header p{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.more-info {
    margin: 0 0 100px 0;
}

aside.more-info img {
	width:150px;
	height:auto;
	float: left;
}

ul.info-links {
    float: left;
    margin: 0 40px 10px 10px
}

ul.social-links {
    padding: 0px 0 20px 0;
}

ul.poem {
    font-size: large;
    background-image: url("images/hard-paper-texture.jpg");
    padding: 10px 0 0 0;
    line-height: 130%
}

ul.poem li {
	list-style-type: none;
}

li.line-break {
    margin: 0 0 15px 0;
    border-bottom:1px solid #cccccc;
    padding: 0px 0 0px 0;
    padding: 0px 0 20px 0;

}

footer.page-footer{
    background-color: rgba(120,100,100,0.5);
}

footer.page-footer p.citation , ul{
    margin: 0 0 0 0;
}